<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<div>
  <h2>
    <span id="metrics-page-heading" data-cy="metricsPageHeading">__jhiTranslateTag__('metrics.title')</span>

    <button class="btn btn-primary float-end" (click)="refresh()">
      <fa-icon icon="sync"></fa-icon> <span>__jhiTranslateTag__('metrics.refresh.button')</span>
    </button>
  </h2>

  <h3>__jhiTranslateTag__('metrics.jvm.title')</h3>

@let metricsRef = metrics();
@if (metricsRef && !updatingMetrics()) {
  <div class="row">
    <<%= jhiPrefixDashed %>-jvm-memory class="col-md-4" [updating]="updatingMetrics()" [jvmMemoryMetrics]="metricsRef.jvm" />

    <<%= jhiPrefixDashed %>-jvm-threads class="col-md-4" [threads]="threads()" />

    <<%= jhiPrefixDashed %>-metrics-system class="col-md-4" [updating]="updatingMetrics()" [systemMetrics]="metricsRef.processMetrics" />
  </div>
}

@if (metricsRef?.garbageCollector; as metricsRefGarbageCollector) {
  <<%= jhiPrefixDashed %>-metrics-garbagecollector
    [updating]="updatingMetrics()"
    [garbageCollectorMetrics]="metricsRefGarbageCollector" />
}

@if (updatingMetrics()) {
  <div class="well well-lg">__jhiTranslateTag__('metrics.updating')</div>
}

@if (metricsRef?.['http.server.requests']; as metricsRefHttpServerRequests) {
  <<%= jhiPrefixDashed %>-metrics-request
    [updating]="updatingMetrics()"
    [requestMetrics]="metricsRefHttpServerRequests" />
}

@if (metricsRef?.services; as metricsRefServices) {
  <<%= jhiPrefixDashed %>-metrics-endpoints-requests
    [updating]="updatingMetrics()"
    [endpointsRequestsMetrics]="metricsRefServices" />
}

@if (metricsRef?.cache; as metricsRefCache) {
  <<%= jhiPrefixDashed %>-metrics-cache
    [updating]="updatingMetrics()"
    [cacheMetrics]="metricsRefCache" />
}

@if (metricsRef && metricsKeyExistsAndObjectNotEmpty('databases')) {
  <<%= jhiPrefixDashed %>-metrics-datasource
    [updating]="updatingMetrics()"
    [datasourceMetrics]="metricsRef.databases" />
}
</div>
