<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="<%= entityInstance %>">
                <h2><span v-text="$t('<%= angularAppName  %>.<%= entityInstance %>.detail.title')"><%= entityAngularName %></span> {{<%= entityInstance %>.id}}</h2>
                <hr>
                <!--<jhi-alert-error></jhi-alert-error>-->
                <dl class="row-md jh-entity-details">
                    <dt>
                      <span v-text="$t('<%= angularAppName  %>.<%= entityInstance %>.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{<%= entityInstance %>.name}}</span>
                    </dd>                
                </dl>

                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>

                <router-link :to="{name: '<%= entityAngularName %>Edit', params: {<%= entityInstance %>Id: <%= entityInstance %>.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios'
    import {SERVER_API_URL} from "../../constants";

    export default {
        data() {
            return {
                <%= entityInstance %>: {}
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                if (to.params.<%= entityInstance %>Id) {
                    vm.retrieve<%= entityAngularName %>(to.params.<%= entityInstance %>Id);
                }
            })
        },
        methods: {
            retrieve<%= entityAngularName %>(<%= entityInstance %>Id) {
                let vm = this;
                axios.get(SERVER_API_URL + 'api/<%= entityInstance %>s/' + <%= entityInstance %>Id).then(res => {
                    vm.<%= entityInstance %> = res.data;
                });
            },
            previousState() {
                this.$router.go(-1);
            }
        }
    }
</script>
