<%#
 Copyright 2013-2021 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h1 <%= jhiPrefix %>Translate="reset.finish.title">Reset password</h1>

      <div class="alert alert-danger" <%= jhiPrefix %>Translate="reset.finish.messages.keymissing" *ngIf="initialized && !key">
        <strong>The password reset key is missing.</strong>
      </div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span <%= jhiPrefix %>Translate="reset.finish.messages.info">Choose a new password</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span <%= jhiPrefix %>Translate="reset.finish.messages.error">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span <%= jhiPrefix %>Translate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please </span>
        <a class="alert-link" routerLink="/login" <%= jhiPrefix %>Translate="global.messages.info.authenticated.link">sign in</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch" <%= jhiPrefix %>Translate="global.messages.error.dontmatch">
        The password and its confirmation do not match!
      </div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="form-group">
            <label class="form-control-label" for="newPassword" <%= jhiPrefix %>Translate="global.form.newpassword.label">New password</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.required"
                <%= jhiPrefix %>Translate="global.messages.validate.newpassword.required"
              >
                Your password is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                <%= jhiPrefix %>Translate="global.messages.validate.newpassword.minlength"
              >
                Your password is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                <%= jhiPrefix %>Translate="global.messages.validate.newpassword.maxlength"
              >
                Your password cannot be longer than 50 characters.
              </small>
            </div>

            <<%= jhiPrefixDashed %>-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></<%= jhiPrefixDashed %>-password-strength-bar>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="confirmPassword" <%= jhiPrefix %>Translate="global.form.confirmpassword.label">New password confirmation</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                <%= jhiPrefix %>Translate="global.messages.validate.confirmpassword.required"
              >
                Your password confirmation is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                <%= jhiPrefix %>Translate="global.messages.validate.confirmpassword.minlength"
              >
                Your password confirmation is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                <%= jhiPrefix %>Translate="global.messages.validate.confirmpassword.maxlength"
              >
                Your password confirmation cannot be longer than 50 characters.
              </small>
            </div>
          </div>

          <button
            type="submit"
            [disabled]="passwordForm.invalid"
            class="btn btn-primary"
            <%= jhiPrefix %>Translate="reset.finish.form.button"
            data-cy="submit"
          >
            Reset Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
